@import 'tailwindcss';
html {
scroll-behavior: smooth;
overflow-x: hidden;
width: 100%;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

}

.font-merriweather {
        font-family: 'Merriweather', Georgia, serif;
    }
